# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ReadingLogBackend.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Code\ReadingLogBackend\.idea\.idea.ReadingLogBackend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
